SIGN_IN_URL = <URL>
REQUISITION_BASE_URL = <URL>
ACCOUNT_EMAIL = <account email>
ACCOUNT_PASSWORD = <account password>
SMTP_USER = <smtp server username>
SMTP_PASSWORD = <smtp server password>
SMTP_HOST = <hostname>
SMTP_PORT = <port number>
SMTP_TO_RECIPIENTS = <address_1,address_2,address_3>
SMTP_CC_RECIPIENTS = <address_1,address_2,address_3>
SMTP_BCC_RECIPIENTS = <address_1,address_2,address_3>
